* {
	margin: 0;
	padding: 0;
	color: #000
}

#temp {
	margin: auto;
	width: 50%;
	font-size: larger;
	padding: 10px;
	text-align: center;
}

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	font-family: serif, sans-serif;
}

#animated-background {
	backdrop-filter: blur(1px);
	width: 100%; 
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url("img/background.png");
	background-repeat: repeat;
	background-position: 0 0;
	background-size: auto 35%;
	animation: animatedBackground 500000s linear infinite forwards;
}

@keyframes animatedBackground {
	from {
		background-position: 0;
	}

	to {
		background-position: -10000000px -10000000px;
	}
}

@font-face {
	font-family: poppins;
	src: url(Poppins-Medium.ttf);
	font-style: normal;
	font-weight: 100
}

body {
	font-family: poppins;
	font-size: 16px;
	line-height: 1.6em;
	height: 100vh;
}

.nav-container {
	width: 100%;
}

#navbar {
	display: none;
	padding-top: 5vh;
	overflow: visible;
	padding-right: 5%
}

#navbar ul {
	list-style: none
}

#navbar a {
	color: #fff;
	text-decoration: none;
	font-size: 1.3em
}

.nav-container a:after {
	content: '';
	display: block;
	width: 0;
	height: 4px;
	transition: width .25s;
	background: #f89c24
}

.nav-container a:hover:after {
	width: 100%;
	transition: width .25s
}

.nav-container li {
	float: right;
	text-align: center;
	margin-left: 4vw;
	line-height: 1.6em
}

@media screen and (max-width:767px) {

	#logo {
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 60vw;
		max-width: 50%;
		height: auto
	}

	.logo-simple {
		width: 15vw
	}


}

@media only screen and (min-width:768px) {

	#mobile-navbar-wrapper {
		display: none
	}

	#navbar {
		display: flex
	}

	.logo-simple {
		width: 5vw
	}
}

.logo-simple {
	display: inline-block;
	margin-bottom: 0;
}

*,
:after,
:before {
	box-sizing: inherit
}

.mobile-nav-toggle {
	cursor: pointer;
	margin: 0 1rem;
	float: right
}

#mobile-navbar img {
	width: 1.9rem
}

#mobile-navbar .logo-simple {
	width: 3rem
}

.close-icon {
	display: none
}

.menu-icon {
	margin-top: .2rem
}

.mobile--nav--checkbox {
	display: none
}

#mobile-nav-menu {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	margin: 1rem
}

#mobile-nav-menu li {
	list-style: none;
	display: none
}

#mobile-nav-menu a {
	text-decoration: none;
	font-size: 1.2rem
}

.mobile--nav--checkbox:checked~#mobile-nav-menu li {
	display: block
}

.mobile--nav--checkbox:checked~label.mobile-nav-toggle .close-icon {
	display: block
}

.mobile--nav--checkbox:checked~label.mobile-nav-toggle .menu-icon {
	display: none
}

#navbar-list li:first-child {
	float: left
}

#navbar-list li:first-child {
	float: left
}

.nav-container .logo a:after {
	width: 0
}

#mobile-nav-menu li:first-child {
	margin-right: auto;
	display: block
}

#mobile-navbar-wrapper {
	padding-top: 1vh;
	padding-bottom: 1vh
}

#contact {
	text-decoration: none;
	color: #f89c24
}

.footer {
	text-align: center;
	margin-top: auto;
	font-size: .8rem;
	margin-bottom: 0;
}

.flex-wrapper {
	display: flex;
	min-height: 84vh;
	flex-direction: column;
	justify-content: space-between;
}

/* ============================== INDEX ============================== */
#get-started-box {
	display: flex;
	padding-top: 2vh;
	justify-content: center;
	align-items: center;
	padding-bottom: 12%;
}

#get-started {
	margin-top: 25%;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	padding: 0.5em 1.2em;
	margin: 0 0.3em 0.3em 0;
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	font-weight: 300;
	background-color: #ffae44;
	text-align: center;
	transition: all 0.2s;

}

#get-started:hover {
	transform: scale(1.15);
	transition: transform .2s;
	background-color: #f89c24;
}

@media screen and (max-width:767px) {
	#learn-more {
		display: block;
		margin: 0.2em auto;
	}

	.index-logo {
		display: block;
		width: 85vw;
		margin-left: auto;
		margin-right: auto;
	}

}

@media only screen and (min-width:768px) {
	.index-logo {
		width: 50vw
	}
}

.index-logo {
	display: block;
	padding-top: 5vh;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 4vh;
}

/*============================================================*/
/* ============================== DRAW ============================== */

#canvas {
    padding: 0;
    margin: 0;
    background-color: #FFFF88;
    overflow:hidden;
}
#paintArea {
    height: 40vh;
    width:75%;
    margin-left:auto;
    margin-right:auto;
    border-top:  8px solid black;
    border-left: 8px solid black;
    border-right: 8px solid black;
    margin-top: 2%;
    overflow:hidden;
    border-radius: 25px 25px 0 0;
  }
#pen-label{
    display:flex;
    flex-direction:column;
    margin-left:2%;
}
#pencolor, #background-color{
    background-color:transparent;
    -webkit-appearance:none;
    -moz-appearance:none;
    border:none;
    cursor:pointer;
    appearance:none;
    width:50px;
    height:50px;
    display:flex;
    flex-direction:column;
    margin-left:2%;
}
.mouse {
    pointer-events: none;
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    left: -100px;
    top: 50%;
    background-color: black;
    z-index: 10000;
  }
#tag-form{
    height:35px;
    font-family:poppins;
    font-weight:bold;
    padding: 5px;
    background-color:rgb(221, 188, 103);
    border:4px black solid;
    border-radius:15px;
}
#pencolor::-webkit-color-swatch, #background-color::-webkit-color-swatch{
    border-radius:15px;
    border:4px black solid;
}
#pencolor::-moz-color-swatch, #background-color::-moz-color-swatch{
    border-radius:15px;
    border:none;
}
#save-button-box{
	display: flex;
    display:inline-block;
	padding-top: 2vh;
    margin-left:1%;
}

#submitbutton {
	margin-top: 25%;
	display: inline-block;
	padding: 0.5em 1.2em;
	margin: 0 0.3em 0.3em 0;
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	font-weight: 300;
	background-color: #ffa32b;
	text-align: center;
	transition: all 0.2s;
}
#drawing-tools{
    display:grid;
    width:75%;
    margin-left:auto;
    margin-right:auto;
    border:  8px solid black;
    border-radius: 0 0 25px 25px;
    background:rgb(221, 188, 103);

}
#submitbutton:hover {
	background-color: #ff9306;
}
.toolbar {
    border:  8px solid black;
    border-radius: 0 0 25px 25px;
    background:rgb(221, 188, 103);
    width:75%;
    margin-left:auto;
    margin-right:auto;
    background-color: #788eff;
  }
  .tools-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
    padding:0 8px 0 8px;

  }
  .tools-row h5 {
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.5px;
  }
  .tools-row button {
    background-color:rgb(221, 188, 103);
    padding: 8px 0 8px;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    font-family:poppins;
    font-weight:bold;
  }
  .tools-row button:hover{
        transition: transform .2s;
        background-color: #ff9306;
        cursor:pointer;
    }
  .tools-wrapper h5{
    color:black;
    font-weight:bold;
  }
  /* ////////////////////////////////////////////////////////////////////// SLIDING PEN WEIGHT BAR /////////////////////////////////////////////////////////////////////////// */
 .toolbar input[type=range] {
    background:transparent;
    height: 42px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 75%;
  }
  .toolbar input[type=range]:focus {
    outline: none;
  }
  .toolbar input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #DDBC67;
    border-radius: 8px;
    border: 2px solid #000000;
  }
  .toolbar input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 8px;
    background: #000000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -13px;
  }
  .toolbar input[type=range]:focus::-webkit-slider-runnable-track {
    background: #DDBC67;
  }
  .toolbar input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #DDBC67;
    border-radius: 8px;
    border: 2px solid #000000;
  }
  .toolbar input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 8px;
    background: #000000;
    cursor: pointer;
  }
  .toolbar input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  .toolbar input[type=range]::-ms-fill-lower {
    background: #DDBC67;
    border: 2px solid #000000;
    border-radius: 16px;
    box-shadow: 0px 0px 0px #000000;
  }
  .toolbar input[type=range]::-ms-fill-upper {
    background: #DDBC67;
    border: 2px solid #000000;
    border-radius: 16px;
    box-shadow: 0px 0px 0px #000000;
  }
  .toolbar input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 8px;
    background: #000000;
    cursor: pointer;
  }
  .toolbar input[type=range]:focus::-ms-fill-lower {
    background: #DDBC67;
  }
  .toolbar input[type=range]:focus::-ms-fill-upper {
    background: #DDBC67;
  }
    /* ////////////////////////////////////////////////////////////////////// SLIDING PEN WEIGHT BAR //////////////////////////////////////////////////////////////////////////*/

/*============================================================*/
/* ============================== ABOUT ============================== */
#about-head {
	text-align: center;
	font-size: 4rem;
	padding-top: 5vh;
	padding-bottom: 5vh;

}

@media only screen and (max-width: 797px) {
	#about-head {
		font-size: 40px;
	}
}

#about-1 {
	text-align: center;
	width: 100%;

}

.about-wrapper {
	width: 100%;
}

#about-1 img {
	max-width: 100%;
	height: auto;
}

#about-2 {
	text-align: center;
	padding: 1vh 1vw 1vh 1vw;
	margin: 5vh 10vw 3vh 10vw;
	font-size: 1.5em;
	background-color: rgba(255, 255, 255, 0.623);
	border-radius: 14px;
	box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 0.49);
}

/*============================================================*/