<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="icon" type="image/x-icon" href="../static/img/icon.png"> {# Element #3 #}

</head>

<body id = "animated-background">
    <div id="mobile-navbar-wrapper">
        <nav id="mobile-navbar">
            <input type="checkbox" id="mobile-nav-checkbox" class="mobile--nav--checkbox">
            <label for="mobile-nav-checkbox" class="mobile-nav-toggle">
                <img src="../static/svg/menu-icon.svg" class="menu-icon" viewBox="0 0 448 512" width="100" title="bars">
                <img src="../static/svg/close-icon.svg" class="close-icon" viewbox="0 0 384 512" width="100" title="times">
            </label>
            <ul id="mobile-nav-menu">
                <li class="logo"> <a href="index.html"> <img class="logo-simple"
                            src="../static/img/logo-simple.png" alt="Sketched"> </a> </li>
                <li><a href="/p/about.html"><b>About</b></a></li>
                <li><a href="/p/search.html"><b>Search</b></a></li>
                <li><a href="/p/upload.html"><b>Upload</b></a></li>
                <li><a href="/p/sketches.html"><b>View</b></a></li>
                <li><a href="/p/draw.html"><b>Draw</b></a></li>
                <li><a href="mailto:ethan.rubenstein@pitt.edu;anirudhiyer@pitt.edu;acb198@pitt.edu;aaa240@pitt.edu" id="contact"><b>Contact</b></a></li>
            </ul>
        </nav>
    </div>
    <div class="navbar-wrapper">
        <nav id="navbar">
            <div class="nav-container">
                <ul id="navbar-list">
                    <li class="logo"> <a href="index.html"> <img class="logo-simple" src="../static/img/logo-simple.png"
                                alt="Sketched"> </a> </li>
                    <li><a href="mailto:ethan.rubenstein@pitt.edu;anirudhiyer@pitt.edu;acb198@pitt.edu;aaa240@pitt.edu" id="contact"><b>Contact</b></a></li>
                    <li><a href="/p/about.html"><b>&nbspAbout&nbsp</b></a></li>
                    <li><a href="/p/search.html"><b>&nbspSearch&nbsp</b></a></li>
                    <li><a href="/p/upload.html"><b>&nbspUpload&nbsp</b></a></li>
                    <li><a href="/p/sketches.html"><b>&nbspView&nbsp</b></a></li>
                    <li><a href="/p/draw.html"><b>&nbspDraw&nbsp</b></a></li>
            </div>
        </nav>
    </div>
    <div class="flex-wrapper">
        {% block content %}{% endblock %}
        <footer class="footer">
            <div><a href="https://github.com/anirudhi89/Sketched">Made by&nbsp&nbspAnirudh Iyer,&nbsp&nbspAakash Arvapalli,&nbsp&nbspAidan Barr Bono,and&nbsp&nbspEthan Rubenstein&nbsp&nbspfor CS1520 </a></div>
        </footer>
    </div>


</body>

</html>