{% extends '_base.html' %}
{% block title %}Sketched | About {% endblock %}
{% block content %}
    <h1 id="about-head">Draw sticky notes online</h1>
    <div id="about-1">
        <img src="../static/img/bird.png" class="sticky-note" alt="Sticky Note Drawing">
        <img src="../static/img/palm.png" class="sticky-note" alt="Sticky Note Drawing">
        <img src="../static/img/ufo.png" class="sticky-note" alt="Sticky Note Drawing">
    </div>
    <div id="about-2">
        <p> Sketched is an online drawing application that lets you create anything you want. You can create sticky notes, give them tags, share them, and search for other users' sticky notes using tags. Sketched 
        is the perfect place to send your friend a drawing, take notes, and draw inspiration from others. Get started with your first sketch <a href="/p/draw.html"><b>here</b></a>.
        </p>
    </div>
{% endblock %}