{% extends '_base.html' %}
{% block title %}Sketched | Draw {% endblock %}

{% block content %}

<div id="paintArea" scroll="no">
<canvas id = "canvas" scroll="no">
</canvas>
</div>

<div>
    <label for="pencolor" id="pen-label"><b>Color Selector</b></label>
    <input type="color" name="pencolor=" id="pencolor">
</div>
<div id="save-button-box"> 
    <button type="button" id="submitbutton"><b>Save Drawing</b></a>
</div>
<div>
    <p>test image</p>
    <img id= "image" src="" alt="">
</div>


<script src="../static/js/draw.js"></script>

<!-- Replace script below -->

{% endblock %}
