{% extends '_base.html' %}
{% block title %}Sketched | Sign In {% endblock %}
{% block content %}

{% if error is not none %}
    <p>{{ error }}</p>
{% endif %}
<div class = "upload-form-wrapper">
    <h3 class="upload-title">Sign In</h3>
<form method="post" action="/login">
    <p>Username</p>
    <input class="upload-form" type="text" name="username">
    <p>Password</p>
    <input class="upload-form" type="password" name="password">
    <p></p>
    <input type="submit" class = "submit-button" value="Sign In">
</form>
</div>
{% endblock %}