{% extends '_base.html' %}
{% block title %}Sketched | Sign Up {% endblock %}
{% block content %}
<h3>Sign Up</h3>
{% for error in errors %}
    <p>{{ error }}</p>
{% endfor %}
<form method="post" action="/register">
    <p>Username</p>
    <input class="upload-form" type="text" name="username">
    <p>Password</p>
    <input class="upload-form" type="password" name="password">
    <p>Confirm Password</p>
    <input class="upload-form" type="password" name="confirmpassword">
    <p></p>
    <input type="submit" value="Sign Up">
</form>

{% endblock %}