{% extends '_base.html' %}
{% block title %}Sketched | Upload {% endblock %}

{% block content %}

<form method = "POST" enctype="multipart/form-data" action="/upload/confirm">
    <p>Select a File:</p>
    <input type="file" name="file" id="">
    <p>Give it a unique name</p>
    <input class="upload-form" type="text" name="filename">
    <p id = 'tag-list'>Give it a tag</p>
    <input class="upload-form" type="text" name="tags">
    <input type="submit" value="Submit">
</form>

{% endblock %}
